.page {
  font-family: "Inter", "Arial", sans-serif;
  background-color: #000;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
