.form__header {
  margin: 0 0 49px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

@media screen and (max-width: 619px) {
  .form__header {
    font-size: 18px;
    line-height: 21.78px;
    margin: 0 0 75px 0;
  }
}
