.form__save-button {
  appearance: none;
  border: none;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  transition: opacity 0.2s ease-in;
}

.form__save-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 619px) {
  .form__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
