.header {
  padding: 45px 0 37px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 918px) {
  .header {
    padding: 45px 19px 37px 19px;
  }
}

@media screen and (max-width: 619px) {
  .header {
    padding: 28px 0 28px 0;
    margin: 0;
  }
}
